body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.status {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

.changeCard{
    margin-bottom: 10px;
    padding: 10px;
}


.question {
    font-size: 20px;
    padding: 20px;
}



.flash{
    padding-left: 3em;
    padding-right:3em;
    margin-top:3em;
}